@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#root {
  margin: 0 auto;
}

body {
  background: linear-gradient(135deg, #1a1a1a, #333);
  background: url('assets/images/memphis-pattern.webp') repeat;
  background-color: black !important;
  font-family: 'Garet', sans-serif;
}

body.dark {
  background-color: hsl(var(--background));
}
